<div class="blank115"></div>

<div class="header-top">
    <div class="w1200">
        <div class="top-link">山西棣雅棠茶酒文化有限公司</div>
        <!--        <ul class="login-regin">
                    {if $Think.session.member_id}
                    <li class="line"> <a href="{:url('Member/index')}">{$Think.session.member_name}</a></li>
                    <li> <a href="{:url('Login/Logout')}">{$Think.lang.exit}</a></li>
                    {else}
                    <li class="line"> <a href="{:url('Login/login')}">{$Think.lang.please_log}</a></li>
                    <li> <a href="{:url('Login/register')}">{$Think.lang.free_registration}</a></li>
                    {/if}
                </ul>-->

        <ul class="quick_list">

            <li>
                <span class="outline"></span>
                <span class="blank"></span>
                <a href="javascript:void(0)">zh-cn<b></b></a>
                <div class="dropdown-menu">
                    <ol>
                        <li><a href="javascript:change_lang('zh-cn')">中文版</a></li>
                        <li><a href="javascript:change_lang('en-us')">英文版</a></li>
                    </ol>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="w1200">
        <div class="logo">
            <a href="{:url('home/index/index')}"><img style="width: 120px;height: 65px;" src="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$Think.config.site_logo}"/></a>
        </div>
        <ul class="nav">
            <li><a href="{:url('home/index/index')}">首页</a></li>
            <li><a href="{:url('Cases/search')}">客户案例</a></li>
            <li><a href="{:url('Product/search')}">产品介绍</a></li>
            <li><a href="{:url('News/search')}">新闻资讯</a></li>
            <li><a href="{:url('Job/index')}">招贤纳士</a></li>
            {volist name="nav_header" id="nav"}
            <li><a href="{$nav.nav_url}" {$nav.nav_new_open}>{$nav.nav_title}</a></li>
            {/volist}
        </ul>
    </div>
</div>
